# Conexiune Bază de Date (Modificați pentru producție)
DB_URL=jdbc:mysql://localhost:3306/nume_baza_de_date
DB_USER=root
DB_PASS=parola_ta

# Autentificare Google (Obținut din Google Cloud Console)
GOOGLE_CLIENT_ID=YOUR_ACTUAL_ID_HERE.apps.googleusercontent.com

# Cheia Secretă pentru semnarea JWT (NU o expuneți public în producție)
JWT_SECRET_KEY=4f6a72614a5170337336763979244226452948404d635166546a576e5a713474
